{% extends 'base.html' %} 
{% block title %}List of Requested Appointments{% endblock %}
<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
      {% block content %} 
      {% for message in get_flashed_messages() %}
      {% endfor %}
      <div id='status' />
      <div class="container">
          <div class="row col-md-6 col-md-offset-2 custyle">
              <table id='patient_list' class="table table-striped custab"></table>
          </div>
      </div>
    </div>
</div>
<script type=text/javascript>
 (function() {
    var endpoint_url = '/patient/{{dr_id}}';

    $.getJSON(endpoint_url, function(json) {
        $('#patient_list').append('<tr><th>Patient Id</th><th>First name</th><th>Last name</th><th class="text-center">Action</th></tr>');
        $.each(json, function(key, value) {
            $('#patient_list tr:last').after('<tr><td>' + key + '</td><td>' + value.first_name + '</td><td>' + value.last_name + '</td><td class="text-center"><a class="btn btn-info btn-xs" href="/doctor/' + dr_id + '/' + key + '"><span class="glyphicon glyphicon-share"></span> Request Information</a></td></tr>');
        });
    });
})();
</script>
{% endblock %}